// Navigation Styles here

header {
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding: 2% 0;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;

    @media @mobile {
        flex-direction:column;
        width: 100%;
        padding-top: 4%;
        margin-left: 0;
        margin-right: 0;
    }//ends media

    nav {
    display:flex;
    justify-content: space-between;
    width: 35%;

    @media @mobile {
    padding-top: 4%;
    width: 80%;
    }//ends media

    a {
    font-size: 1.7rem;
    text-decoration: none;
    color: @shark;

    @media @mobile {
    font-size:1.5rem;
    }//ends media
    }//ends a
    }//ends nav
}//ends header
